<!-- replace_contents 'footer' -->

<footer>
<div>
  <%= Date.today.year %> 
  © 
  <%= link_to 'FIWARE', 'http://www.fi-ware.org/' %> & <%= link_to 'FIWARE OPS', 'http:/ops.fiware.org' %>. 
  The use of FIWARE LAB services is subject to the acceptance of the
  <a href="https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_LAB_Terms_and_Conditions"> 
    Terms and Conditions
  </a>
  and 
  <a href="http://forge.fi-ware.eu/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">
    Personal Data Protection Policy
  </a>
</div>
</footer>

<%= yield :jsfooter %>
